<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Teacup yorkies</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>

        <nav class='navbar navbar-expand-lg navbar-light bg-dark'>
          <div class='container-fluid'>
            <a class='navbar-brand text-white' href='#'>Howl</a>
            <button
              class='navbar-toggle'
              type='button'
              data-mdb-toggle='collapse'
              data-mdb-target='#navbarNavAltMarkup'
              aria-controls='navbarNavAltMarkup'
              aria-expanded='false'
              aria-label='Toggle navigation'
            >
              <i class='fas fa-bars'></i>
            </button>
            <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
              <div class='navbar-nav'>
                <a
                  class='nav-link active text-white'
                  aria-current='page'
                  href='/'
                >Home</a>
                <a
                  class='nav-link active text-white'
                  href='/dashboard'
                >Dashboard</a>

                {{#if logged_in}}

                  <a
                    class='nav-link active text-white'
                    href='/dashboard'
                    id='logout'
                  >Logout</a>
                {{else}}
                  <a class='nav-link active text-white' href='/login'>Login</a>
                {{/if}}
                <div class='card' style='width: 18rem;'>
                  <ul class='list-group list-group-flush'>
                    <li id='catFact' class='list-group-item'></li>
                    <li id='dogFact' class='list-group-item'></li>
                    <li class='list-group-item'></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </nav>

      </header>

      <main class='container container-fluid mt-5'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>