<div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Teacup-Yorkies</h1>
          <p>This application is a collaboratively developed social media application using the full-stack MVC paradigm. The concept is a social media website for pet-oriented content and showcasing a user's pet with pictures, traits and personality. It's also a place for interacting with other pet owners. We like to think of it as a twitter-like website for our furry friends.</p>
          <p><a class="btn btn-primary btn-md" href="https://github.com/Boopdid/teacup-yorkies" role="button">Github Repo &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <h2 class="text-center m-5">Meet the developers</h2>
        <div class="row">
          <div class="col-md-4">
            <h4>JJ Gault</h4>
            <img src="/images/jj.jpg" alt="" class="rounded float-left img-thumbnail" width="200" height="200">
            <p><a class="btn btn-secondary" href="https://github.com/jgault87" role="button">Github &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h4>Peter Vrutneski</h4>
            <img src="/images/peter.jpg" alt="" class="rounded float-left img-thumbnail" width="180" height="180">
            <p><a class="btn btn-secondary" href="https://github.com/Boopdid" role="button">Github &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h4>Anita Chavez</h4>
            <img src="/images/anita.jpg" alt="" class="rounded float-left img-thumbnail" width="200" height="200">
            <p><a class="btn btn-secondary" href="https://github.com/Neeta525" role="button">Github &raquo;</a></p>
          </div>
        </div>

        <hr>
