
<div class="container">
  <h1 class="text-center">Hangman (Pet Edition)</h1>
  <div class="float-right">Wrong Guesses: <span id='mistakes'>0</span> of <span id='maxWrong'></span></div>
  <div class="text-center">
    <img id='hangmanPic' src="./images/hangmanimages/0.jpg" alt="">
    <p>Guess the Cat/Dog Breed:</p>
    <h2 id="wordSpotlight">The word to be guessed goes here</h2>
    <div id="keyboard"></div>
    <button class="btn btn-info" onClick="reset()">Reset</button>
  </div> 
</div>

<script src='./js/hangman.js'></script>

