<!-- Loop over each object in the projects array -->
<div>
  <hr />
  <div class='container'>
    <section id='start'>
      <h1>Potato or Pitbull</h1>
      <p>These adorable pitbulls are masters at the potato form. Take your best
        guess for which are potatoes and which are pitbulls.</p>
      <button class='btn btn-dark' id='startQuiz'>Start Game</button>
    </section>

    {{#each potatoesOrPitbulls as |potatoOrPitbull|}}
      <section id='question-{{@index}}' class='d-none {{potatoOrPitbull.type}}'>
        <h1>Potato or Pitbull?</h1>
        <img src='images/{{potatoOrPitbull.image}}' width='150' height='150' />
        <button class='btn btn-dark potato answer'>Potato</button>
        <button class='btn btn-dark pitbull answer'>Pitbull</button>
      </section>
    {{/each}}

    <section id='finish' class='d-none'>
      <h2>All done!</h2>
      <p>Your final score is <span id='finalScore'></span> out of 120.</p>
      <button class='btn btn-dark' id='playAgain'>Play Again</button>
    </section>
  </div>
  <hr />
</div>

<script src='/js/potatoOrPitbull.js'></script>